{% extends "SebouCarnetBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}
{% block lien %}
  {{ parent() }}
{% endblock %}
{% block body %}
  {{ parent()}}
{% endblock %}
{% block deco %}
<div>
  {{form(form)}}
</div>
{% endblock %}
