{% extends "SebouCarnetBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}
{% block lien %}
  {{ parent() }}
{% endblock %}
{% block body %}
  {{ parent()}}
{% endblock %}
{% block deco %}
<div>
  Le contact a bien été supprimé.
</div>
{% endblock %}
